/* ul,
ol {
    list-style: none;
}  
*/

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo-web {
   font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* IRIS */
    color: #4D5AE5;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* NAVY BLUE */
    color: #2E2F42;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.contact-mail-address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
}

.contact-mail-address:hover,
.contact-mail-address:focus {
    color: #4D5AE5;
}

.contact-phone-number {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;

}

.contact-phone-number:hover,
.contact-phone-number:focus {
    color: #4D5AE5;
}





.modal-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    cursor: pointer;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.modal-btn:hover, 
.modal-btn:focus {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #271919;
}

.section-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}